@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-100 dark:bg-gray-900;
}

@keyframes gradientXY {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-xy {
  background-size: 400% 400%;
  animation: gradientXY 10s ease infinite;
}